
    <div class="container mt-5">
        <div class="jumbotron m-auto">
            <h1 class="pageTitle">Project Portfolio</h1>

            <hr>
            <div class="row justify-content-around">
                <div class="card p-1 m-3" style="width: 18rem;">
                    <img class="card-img-top" src="/images/SC2rpg.png" alt="Screenshot of sc2rpg">
                    <div class="card-body">
                        <h5 class="card-title">StarCraft 2 RPG</h5>
                        <p class="card-text">A game where player picks an avatar to fight enemies. Be smart and you shall be victorious</p>
                        <a href="https://mjblee20.github.io/unit-4-game" class="btn btn-dark m-1">Visit Page!</a>
                        <a href="https://github.com/mjblee20/unit-4-game" class="btn btn-dark m-1">
                            <img src="/images/GitHub-Mark-120px-plus.png" alt="GitHub Logo" class="logoImg">
                            View Code
                        </a>
                    </div>
                </div>
                <div class="card p-1 m-3" style="width: 18rem;">
                    <img class="card-img-top" src="/images/wordGuess.png" alt="Screenshot of word guess game">
                    <div class="card-body">
                        <h5 class="card-title">Word Guessing Game</h5>
                        <p class="card-text">A simple word guessing game. See if you can guess the correct word!</p>
                        <a href="https://mjblee20.github.io/Word-Guessing-Game/" class="btn btn-dark m-1">Visit Page!</a>
                        <a href="https://github.com/mjblee20/Word-Guessing-Game" class="btn btn-dark m-1">
                            <img src="/images/GitHub-Mark-120px-plus.png" alt="GitHub Logo" class="logoImg">
                            View Code
                        </a>
                    </div>
                </div>
                <div class="card p-1 m-3" style="width: 18rem;">
                    <img class="card-img-top" src="/images/trivia.png" alt="Screenshot of trivia game">
                    <div class="card-body">
                        <h5 class="card-title">Trivia</h5>
                        <p class="card-text">A single set of Trivia Questions that is timed. Try to beat the record!</p>
                        <a href="https://mjblee20.github.io/TriviaGame/" class="btn btn-dark m-1">Visit Page!</a>
                        <a href="https://github.com/mjblee20/TriviaGame" class="btn btn-dark m-1">
                            <img src="/images/GitHub-Mark-120px-plus.png" alt="GitHub Logo" class="logoImg">
                            View Code
                        </a>
                    </div>
                </div>
                <div class="card p-1 m-3" style="width: 18rem;">
                    <img class="card-img-top" src="/images/giftastic.png" alt="Screenshot of giftastic page">
                    <div class="card-body">
                        <h5 class="card-title">GifTastic</h5>
                        <p class="card-text">A webpage that generates a number of gifs of a given category</p>
                        <a href="https://mjblee20.github.io/GifTastic/" class="btn btn-dark m-1">Visit Page!</a>
                        <a href="https://github.com/mjblee20/GifTastic" class="btn btn-dark m-1">
                            <img src="/images/GitHub-Mark-120px-plus.png" alt="GitHub Logo" class="logoImg">
                            View Code
                        </a>
                    </div>
                </div>
                <div class="card p-1 m-3" style="width: 18rem;">
                    <img class="card-img-top" src="/images/project1.png" alt="Screenshot of project1">
                    <div class="card-body">
                        <h5 class="card-title">Project: In or Out?</h5>
                        <p class="card-text">Having a hard time deciding to eat out or cook at home? Use our page to help you choose</p>
                        <a href="https://willcoe.github.io/Project1/#" class="btn btn-dark m-1 m-1">Visit Page!</a>
                        <a href="https://github.com/WillCoe/Project1" class="btn btn-dark m-1">
                            <img src="/images/GitHub-Mark-120px-plus.png" alt="GitHub Logo" class="logoImg">
                            View Code
                        </a>
                    </div>
                </div>
                <div class="card p-1 m-3" style="width: 18rem;">
                    <img class="card-img-top" src="/images/project2.png" alt="Screenshot of project2">
                    <div class="card-body">
                        <h5 class="card-title">Project: Instapotty</h5>
                        <p class="card-text">You've encountered a mindblowing/memorable bathroom? Come to this site and share with others!</p>
                        <a href="https://instapotty.herokuapp.com/" class="btn btn-dark m-1 m-1">Visit Page!</a>
                        <a href="https://github.com/ivancho277/fancyBathroom" class="btn btn-dark m-1">
                            <img src="/images/GitHub-Mark-120px-plus.png" alt="GitHub Logo" class="logoImg">
                            View Code
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>