
    <div class="container mt-5">
        <div class="jumbotron m-auto">
            <div class="row">
                <div class="col">
                    <h1 class="pageTitle">Contact Me</h1>
                </div>
            </div>
    
            <hr>
    
            <div class = "row">
                <div class="col m-3 text-center">
                    <h1 id="email">My Email:    <span id="myEmail">mjblee20@gmail.com</span></h1>
                    <h1 id="email">My Phone Number:    <span id="myEmail">(206)954-9043</span></h1>
                    <a href="Bill Lee's Resume.pdf"><h1 id="email">My Resume</h1></a> 
                </div>
            </div>
    
            <div class="row d-flex justify-content-around">

                <div class="col-5 m-3 text-center links">
                    <a href="https://www.linkedin.com/in/ming-jung-bill-lee-948076127/" class="logo">
                        <img src="/images/Popular_Social_Media-22-512.png" alt="LinkedIn Logo" class="logoImg">
                        <h1 class="link">My LinkedIn</h1>
                    </a>
                </div>
                    
                <div class="col-5 m-3 text-center links">
                    <a href="https://github.com/mjblee20" class="logo">
                        <img src="/images/GitHub-Mark-120px-plus.png" alt="GitHub Logo" class="logoImg">
                        <h1 class="link">My GitHub Page</h1>
                    </a>
                </div>
              
            </div>

        </div>
    
    </div>
