<div class="container mt-5">
        <div class="jumbotron m-auto">
            <div class="row">
                <div class="col">
                    <h1 class="pageTitle">About Me</h1>
                </div>
            </div>
    
            <hr class="p-1">
    
            <div class="row">
                <div class="col text-center d-flex justify-content-center d-block">
                    <img class="border border-secondary rounded-5" id="selfie" src = "assets/images/selfie.jpg" alt = "Picture of me"/>
                </div>
            </div>
            <div class="row">
                <div class="col align-middle d-inline-block vertical-align-middle">
                    <p class="text-center text" id="title">Who am I?</p>
                </div>
            </div>
                
            <br>
            <div class="row">
                <div class="col">
                    <p class="text">
                        A great question and it is one that most people spend their whole life attempting answer. I do not have an answer to that myself as I am currently in the process of reinventing myself, hopefully/definitely for the better. I am born and raised in Kaohsiung, Taiwan. When I was 13 years old, my family immigrated to Seattle and I've stayed here ever since. I love it here.
                    </p>
                </div>
            </div>
                
        </div>
        
    </div> 